{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myth Store</title>

    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">

</head>
<body>

    <nav class="navbar">
        <div class="brand">Myth Store</div>
        <div class="links">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'nosotros' %}">Nosotros</a>
            <a href="{% url 'contacto' %}">Contacto</a>

        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
