{% extends 'store/base.html' %}

{% block content %}
<h1>Contacto</h1>

{% if enviado %}
<p style="color:#c4b5fd; font-weight:bold;"> Mensaje enviado (demo)</p>
{% endif %}

<p>¿Tienes dudas o quieres cotizar? Escríbenos y te respondemos.</p>

<div class="contact-grid">
    <form class="contact-form" method="post">
        {% csrf_token %}

        <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Tu nombre" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="contacto@mythstore.cl" required>

        <label>Mensaje</label>
        <textarea name="mensaje" rows="5" placeholder="Escribe tu mensaje..." required></textarea>

        <button type="submit">Enviar</button>
    </form>

    <div class="contact-info">
        <h3> Información</h3>
        <p><strong>Horario:</strong> Lun a Vie 10:00 - 19:00</p>
        <p><strong>Email:</strong> contacto@mythstore.cl</p>
        <p><strong>Instagram:</strong> @mythstore</p>
    </div>
</div>
{% endblock %}
